In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read data
X = pd.read_csv('data/train.csv')
X_test_full = pd.read_csv('data/test.csv')

# Remove rows with missing target, print num rows dropped
rows_full = len(X.index)
X.dropna(axis=0, subset=['Survived'])
print(f'Dropped {rows_full - len(X.index)} rows missing target variable')

# Separate target from predictors
y = X.Survived
X.drop(['Survived'], axis=1, inplace=True)

# split into training and validation sets
X_train_full, X_valid_full, y_train, y_valid, = train_test_split(X, y, train_size=0.8, test_size=0.2)

Dropped 0 rows missing target variable

In [15]:
X_train_full.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
764,765,3,"Eklund, Mr. Hans Linus",male,16.0,0,0,347074,7.775,NaN,S
598,599,3,"Boulos, Mr. Hanna",male,NaN,0,0,2664,7.225,NaN,C
61,62,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.000,B28,NaN
801,802,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1,1,C.A. 31921,26.250,NaN,S
851,852,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.775,NaN,S